<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather App</title>


</head>
<body>
    <h1>Simple Weather App </h1>
    <p>Enter the location you want to get weather information for:</p>
    <div id="app">
        <input type="text" v-model="city" placeholder="i.e Dublin">
        <button type="submit" v-on:click='getData'>Search</button><br><br>
        {{hint}}
        <div v-for="d in weather.list">
                <p>
                    <ul >
                        <!--Go up in 8's to get exact data-->
                          <li >Date: {{ d.dt_txt }} <br>
                               Weather: {{d.weather[0].main}} <br>
                               Temperature: {{d.main.temp}}<br>
                               Wind Speed: {{d.wind.speed}} km/h <br>
                               Rainfall: {{d.rain}} mm
                          </li>  
                    </ul>
                    
                    
                </p>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        
        new Vue({
            el:"#app",
            data : {
                hint: "",
                city: "",
                weather: ""
            },

            methods: {

            getData: function(){
                var self = this;
                let res = fetch("city/"+self.city)
                res.then(response => response.json())
                .then(response => {
                    this.weather = response

                    var status = this.weather.list[0].weather[0].main
                    console.log(status)
                    if(status == "Rain"){
                        console.log("boom")
                        this.hint = "Looks like its raining, bring an umbrella."
                    }
                })

            }
        }
    })
    
    </script>

</body>
</html>