<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather App</title>


</head>
<body>
    <h1>Simple Weather App </h1>
    <p>Enter the location you want to get weather information for:</p>
    <!-- Vue app ID -->
    <div id="app">
        <!-- Vue v-model to reference variables -->
        <input type="text" v-model="city" placeholder="i.e Dublin">
        <!-- Vue v-on:click to bind UI with vue -->
        <button type="submit" v-on:click='getData'>Search</button><br><br>
        <!-- Render the hint -->
        {{hint}}
        <div v-for="d in shortWeather">
                <p>
                    <ul >
                        <!-- Render the weather data in a v-for loop -->
                          <li >Date: {{ d.dt_txt }} <br>
                               Weather: {{d.weather[0].main}} <br>
                               Temperature: {{d.main.temp}}<br>
                               Wind Speed: {{d.wind.speed}} km/h <br>
                               Rainfall: {{d.rain}} mm
                          </li>  
                    </ul>
                    
                    
                </p>
        </div>
    </div>
    
    <!-- Importing vue and jquery -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        // Creation of a new vue app
        new Vue({
            el:"#app",
            data : {
                hint: "",
                city: "",
                weather: "",
                shortWeather: {}
            },

            methods: {
            // This function recieves the responce from the server and does the required processes
            getData: function(){
                var self = this;
                let res = fetch("city/"+self.city)
                res.then(response => response.json())
                .then(response => {
                    this.weather = response
                    this.hint = ""
                    var avgTemp = 0;
                    // Loop used to identify if it'll rain in 5 days & avg temp
                    for(i=0; i<this.weather.list.length;i++){
                        var status = this.weather.list[i].weather[0].main
                        avgTemp = avgTemp + this.weather.list[i].main.temp
                        console.log(status)
                        if(status == "Rain"){
                            this.hint = "Looks like it will rain in the next 5 days, bring an umbrella."
                        }
                    }
                    // Conditions of what to bring based on avg temp
                    avgTemp = avgTemp/this.weather.list.length
                    if (avgTemp <10){
                        this.hint = this.hint + " The temperature over the next 5 days will on average be below 10 degrees celcius ("+avgTemp.toFixed(1)+"). Bring a warm jacket."
                    }
                    else if (avgTemp >10 && avgTemp <20){
                        this.hint = this.hint + " The temperature over the next 5 days will on average be between 10 and 20 degrees celcius ("+avgTemp.toFixed(1)+"). Bring a light jacket."
                    }
                    else if (avgTemp >20 ){
                        this.hint = this.hint + " The temperature over the next 5 days will on average be above 20 degrees celcius ("+avgTemp.toFixed(1)+"). Have you packed your swim gear?."
                    }
                    // Subset of weather over 5 days (1 per day)
                    var k = 0
                    for(i=0; i<this.weather.list.length;i+=8){
                        this.shortWeather[k] =  this.weather.list[i]
                        k++;
                        
                    }
                    console.log(this.shortWeather)
                    
                })

            }
        }
    })
    
    </script>

</body>
</html>