<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather App</title>


</head>
<body>
    <h1>Simple Weather App </h1>
    <p>Enter the location you want to get weather information for:</p>
    <div id="app1">
        <input type="text" v-model="city" placeholder="i.e Dublin">
        <button type="submit" v-on:click='getData'>Search</button>
        <div class="results" v-for="data in weather">
                <p>
                    <ul >
                          <li >{{weather.list[0].main}}</li>  
                    </ul>
                    
                    
                </p>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        
        new Vue({
            el:"#app1",
            data : {
                city: "",
                weather: ""
            },

            methods: {

            getData: function(){
                var self = this;
                let res = fetch("city/"+self.city)
                res.then(response => response.json())
                .then(response => {
                    this.weather = response
                })
            }
        }
    })
    
    </script>

</body>
</html>